* {
    margin: 0;
    padding: 0;
    box-sizing: content-box; 
}

:root {
    font-family: 'Arial', sans-serif; 
    line-height: 1; 
    color: #573A37
}

body {
    background-image: url('file:///C:/Users/TI/P-ginaReceitas/assets/bg.png'); 
    background-size: contain; 
    background-color: #573824;

}

#page {
    box-sizing: content-box; 
    width: 800px;
    padding: 50px; 
    background-color: #F0E8C2; 
    border-radius: 20px; 
    margin: 0px auto; 
    padding-right: 0px;
    padding-top: 30px;
}

img {
    border-radius: 0%; 
}

main {
    padding: 0px; 
}

section + section {
    margin-top: 25px; 
}

#about p + p {
    font-family: 'Alice';
    line-height: 1.5;
    margin-top: 16px; 
    color: #573A37
}

h1 {
    padding-top: 20px;
    font-family: 'Alice';
    line-height: 1.4; 
    font-size: 40px;
}

h2 {
    font-family: 'Alice';
    line-height: 1.5;
    font-size: 24px; 
}

h1,
h2 {
    margin-bottom: 0px; 
    color: #291B1A
}

p {
    padding-top: 10px;
    font-family: 'Alice';
    line-height: 1.4; 
}

ul {
    font-family: 'Alice';
    padding-left: 25px; 
    line-height: 1.5;
    color: #573A37
}

footer {
    font-family: 'Alice';
    color: #F0E8C2; 
    text-align: center; 
    padding-bottom: 0px; 
}

footer img {
    vertical-align: top; 
}